$primary-color: #FCF6F5FF;
$secondary-color: #333D79FF;
$font-stack: 'Montserrat Alternates', sans-serif;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
  background-color: $primary-color;

}


#username-input {
  border-color: transparent;
  padding: 5px;
  margin: 10px 10px;

  &:active {
    border-bottom: 2px solid $secondary-color;
  }

  &:focus {
    border-bottom: 2px solid $secondary-color;
  }
}

*:focus {
  outline: none;
}

#input-button {
  color: $secondary-color;
  text-transform: uppercase;
  background: white;
  padding: 5px;
  border: 2px solid $secondary-color;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-family: $font-stack;

  &:hover {
    color: $secondary-color;
    border-radius: 50px;
    border-color: $secondary-color;
    transition: all 0.3s ease 0s;
  }
}

.content {
  width: 80%;
  margin: 5% auto;
  color: $secondary-color;

}

.upper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 50px auto;

  &::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: $secondary-color;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;

  &::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid $secondary-color;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
}

.left {
  left: -80px;

  &::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
}

.right {
  left: 50%;

  &::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  &::after {
    left: -16px;
  }
}

.data {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}




