$primary-color: #F6F7F8;
$secondary-color: #123C69;
$font-stack: 'Quicksand', sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  background-color: $primary-color;
  color: $secondary-color;
  box-sizing: border-box;
  display: block;

}

nav {
  width: 100%;
  min-height: 8vh;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: $secondary-color;

    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: $secondary-color;
    }
  }

}

.errorArea {
  text-align: center;
}


#username-input {
  border-color: transparent;
  padding: 5px;
  margin: 10px 10px;
  width: 160px;
  height: 30px;
  border-radius: 4px;
  background-color: $primary-color;


  &:active {
    border-bottom: 2px solid $secondary-color;
  }

  &:focus {
    border-bottom: 2px solid $secondary-color;
  }
}

*:focus {
  outline: none;
}

#input-button {
  color: $secondary-color;
  text-transform: uppercase;
  background: $primary-color;
  padding: 5px;
  border: 2px solid $secondary-color;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-family: $font-stack;
  font-weight: bold;

  &:hover {
    color: $secondary-color;
    border-radius: 50px;
    border-color: $secondary-color;
    transition: all 0.3s ease 0s;
  }
}

.main {
  min-height: 75vh;
  max-width: 50vh;

}

.content {
  margin-top: 5%;
}

.headline {
  text-align: center;
  font-weight: bolder;
  font-size: 2em;
  margin-bottom: 2em;

}

.timeline {
  position: relative;
  max-width: 1000px;
  margin: 5% auto;

  &::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: $secondary-color;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  color: $primary-color;

  &::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -12px;
    background-color: $secondary-color;
    border: 4px solid $primary-color;
    top: 20px;
    border-radius: 50%;
    z-index: 1;
  }

  h1 {
    font-size: 22px;
  }

}

.left {
  left: -181px;
  animation: slide-right 0.5s forwards;

  &::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
}

@keyframes slide-right {
  100% {
    left: -81px
  }
}

.right {
  left: 60%;
  animation: slide-left 0.5s forwards;

  &::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 30px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  &::after {
    left: -12px;
  }
}

@keyframes slide-left {
  100% {
    left: 50%
  }
}

.data {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;

  .stars {
    text-align: right;
    font-weight: bold;
    line-height: 10px;
    color: $secondary-color;
  }

  p {
    margin: 10px 0;
    color: $secondary-color;
  }

  i {
    text-align: right;
    color: $secondary-color;

  }

  a {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: $secondary-color;

    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: $secondary-color;
    }

  }
}

.introText {
  margin-top: 20%;
  text-align: center;

  h2 {
    font-size: 1.8em;
  }

  p {
    font-size: 1.2em;
  }
}





